body {
    background-image: url('https://scontent.ftbs3-2.fna.fbcdn.net/v/t1.15752-9/381351857_1536319007107988_8417471525248324887_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=_dTSzxpeYLsAX-ugXF9&_nc_ht=scontent.ftbs3-2.fna&oh=03_AdR3zsHSesgFokZlZPnONqJ5yQ_EtwP_IdD3zi_z3TVluA&oe=6535DC32');
    background-repeat: no-repeat;
    background-size: 2000px;
}

#wcome {
    color: white;
    text-align: center;
}

#ip {
    color: white;
    text-align: center;
}

#donate {
    background-color: red;
    color: white;
    border-radius: 50px;
    border: none;
    transition: 1s;
    width: 100px;
    height: 50px;
    cursor: pointer;

}

#donate:hover {
    background-color: blue;
    transition: 1s;
}

#forum {
    background-color: red;
    color: white;
    border-radius: 50px;
    border: none;
    transition: 1s;
    width: 100px;
    height: 50px;
    cursor: pointer;

}

#forum:hover {
    background-color: blue;
    transition: 1s;
}

#shop {
    background-color: red;
    color: white;
    border-radius: 50px;
    border: none;
    transition: 1s;
    width: 100px;
    height: 50px;
    cursor: pointer;

}

#shop:hover {
    background-color: blue;
    transition: 1s;
}